h1,h2,h3,h4,h5,h6{
  font-family:'Segoe UI',Arial,sans-serif;
  font-weight:700;text-transform:none;color:black
}
h1{font-size:3.5rem}
h2{font-size:3.5rem}
h3{font-size:2rem}
h4{font-size:1.5rem}
body{
  font-family:'Segoe UI',Arial,sans-serif;
  padding-top:54px;color:black
}
.subheading{
  text-transform:none;
  font-weight:500;
  font-family:'Segoe UI',Arial,sans-serif;
  font-size:1.5rem
}
.Description{
  padding-top: 20px;
  padding-bottom: 50px;
}
@media (min-width:992px){
  body{
    padding-top:0;
    padding-left:23rem
  }
  .ppsubheading{
    max-width: 650px;
    text-transform:none;
    font-weight:500;
    font-family:'Segoe UI',Arial,sans-serif;
    font-size:1.5rem
  }
  .BodyContent{
    padding-top:3rem!important;
    padding-bottom:3rem!important
  }
  #sideNav{
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    width:21rem;
    height:100vh
  }
  #sideNav .navbar-brand{
    display:flex;
    margin:auto auto 0;
    padding:.5rem
  }
  #sideNav .navbar-brand .img-profile{
    max-width:10rem;
    max-height:10rem;
    border:.5rem solid rgba(255,255,255,.2)
  }
  #sideNav .navbar-toggler{
    display: none;
  }
  #sideNav .Menu{
    display:flex;
    align-items:center;
    flex-grow:0;width:100%;
    margin-bottom:auto
  }
  #sideNav .Menu .MenuList{
    flex-direction:column;
    width:100%
  }
  #sideNav .Menu .MenuList .Menu-item{
    display:block
  }
  #sideNav .Menu .MenuList .Menu-item .Menu-link{
    display:block;
    padding:5px;
    text-decoration:none;
  }
}
@media (max-width:991.9px){
  .BodyContent{
    padding-bottom:3rem!important
  }
  .TheWholeContent{
    padding-left:1rem;
    padding-right:1rem;
  }
  body{
    padding-left:0rem;
    margin-left: 0rem;
  }
  h1{
    text-transform:none;
    font-size:2.5rem
  }
  .ppsubheading{
    max-width: 650px;
    text-transform:none;
    font-weight:400;
    font-family:'Segoe UI',Arial,sans-serif;
    font-size:1.4rem
  }
  #sideNav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
  }
  #sideNav .navbar-brand{
    display: none;
  }
  #sideNav .navbar-text{
    display: none;
  }
  #sideNav .navbar-toggler{
    display: inline-block;
  }
  .collapse:not(.show) {
    display: none;
  }
  #sideNav .Menu .MenuList .Menu-item .Menu-link{
    display:block;
    padding:5px;
    text-decoration:none;
  }
  img.logo{
    width: 100px;
    height: 100px;
  }
  img.Maillogo{
    width:120px;
    height: 80px;
  }
}
@media (min-width:768px){
  .BodyContent{min-height:100vh}
  .BodyContent{min-width:18rem}
}
@media (max-width:767.9px){
  .BodyContent{min-height:100vh}
  .BodyContent{min-width:18rem}
}
#sideNav .MenuList .Menu-item .Menu-link{
  font-weight:800;
  letter-spacing:.05rem;
  text-transform:none
}
#sideNav .navbar-toggler:focus{
  outline-color:blue
}
#sideNav .navbar-text{
  color: white;
}
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.bg-primary{background-color:#243c7a!important}
li a.active {
  color: white; opacity: 1;
}
li a:hover:not(.active) {
  color: white; opacity: 0.8;
}
li a{
  color:white; opacity: 0.5;
}
